root = true

[*]
# 인코딩
charset = utf-8

# 줄 관리
end_of_line = lf

# 파일의 마지막 구문은 새 줄로 마무리
insert_final_newline = true

[*.bat]
end_of_line = crlf

[*.java]
# 들여쓰기
indent_style = tab

# 기본 4칸 공백
indent_size = 4
tab_width = 4

# 후행 공백
trim_trailing_whitespace = true

# 코드 최대 길이
max_line_length = 120
